*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #navhomepage ::before{
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 1100;
  

} */
.conta #navleft{
  visibility: visible;

  display:flex;
  justify-content:flex-end ;
  align-items:flex-end;
  /* border: 2px solid red; */
  background-color: #f2f2f2;
 /* padding-right: 80px; */
 gap: 10px;
 /* top: 45px; */
 /* top: 0; */
 /* height: 42px; */
 z-index:1000;
 padding-bottom: 4px;
 margin-top: -7px;
 position: -webkit-sticky;

 font-size: 15px;
 text-align: right;
}
.conta #navleft a{
  margin-left: 4px;
  text-decoration: underline;
  font-size: 13px;
  margin-right: 20px;

}
#homepageimg img
{
  display: block;
  margin: auto;
  width: 75%;
  height: 657px;
}





.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background-color: #00b8e5;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 998;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
     pointer-events: none; 
    box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgb(168 164 173 / 50%);
     -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  
 .scroll-up-btn.show {
    bottom: 70px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .scroll-up-btn:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }
  
  /* body overlay  */
  .body__overlay {
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(96, 96, 96, 0.7);
    position: fixed;
  }
  
  .no_scroll {
    overflow: hidden;
  }
  
  /* primary nav styling  */
  nav {
    position: fixed;
    top: 70px;
    width: 100%;
    height: fit-content;
    z-index: -1;
    background-color: #fff;
    user-select: none;
    transition: top 0.4s;
    -webkit-transition: top 0.4s;
    -moz-transition: top 0.4s;
    -ms-transition: top 0.4s;
    -o-transition: top 0.4s;
}
  
  nav > .mobile_navbar {
    padding: 20px;
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, 0.95);
    display: none;
    margin-top: 10px;
  }
  
  nav > .mobile_navbar > .nav_container {
    display: flex;
    justify-content: space-between;
  }
  
  nav > .mobile_navbar > .nav_container > .ham_menu {
    cursor: pointer;
  }
  
  nav > .mobile_navbar > .nav_container > .ham_menu > div {
    width: 30px;
    height: 3.5px;
    background-color: #111;
    margin: 8px;
  }
  
  nav > .mobile_menu {
    position: absolute;
    top: 100px;
    left: -150%;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    transition: 0.5s ease;
    overflow: auto;
  }
  
  nav > .menu_active {
    left: 0;
  }
  
  nav > .mobile_menu > .menu_container {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  
  nav > .mobile_menu > .menu_container > .nav_top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, 0.95);
  }
  
  nav > .mobile_menu > .menu_container > .nav_top > div:nth-child(2) {
    font-size: 30px;
    font-weight: 500;
  }
  
  nav > .mobile_menu > .menu_container > div {
    border-bottom: 1px solid #aaa;
    padding: 20px;
    cursor: pointer;
  }
  nav .navbar {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #111;
  }
  
  .navbar > h4 {
    font-size: 12px;
    color: #272829;
  
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
  }

  .Pimage{
    /* margin-bottom: 0; */

   margin-left: 30rem;
   margin-bottom: -1rem;
   /* margin-top: 3rem; */
    width: 300px;
    height: 30px;
  }
  
  .links {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    margin-left: auto;
    width: 50%;
   
  }
  .links > div {
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .search,
  .sign_in {
    display: flex;
    font-weight: 500;
    align-items: center;
    color: #444444;
    position: relative;
  }
  .search{
    width: 80%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding: 0.8rem 0.5rem;
  
  }
  .search input{
 
    position:absolute;
    outline: none;
    width: 90%;
    height: 40px;
    padding: 0.8rem 0.5rem;
    border: none;
    border: 1px solid black;
    /* border-right: none; */
  
    
  
  }
  .search span{
    position:fixed;
    margin-left: 16rem;
    font-size: 18px;
    color: rgb(12, 136, 238);
 
  }
  
  
  .bx {
    font-size: 20px;
    font-weight: 100;
  }
  
  .bx-shopping-bag {
    font-size: 24px;
    color: rgb(161, 161, 161);
  }
  .sign_in img{
    width: 36px;
    height: 36px;
  }
  
  .country > img {
    height: 40px;
    width: 40px;

  }
  .country span{
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-top: 1rem;
    margin-left: -25px;
    color: #0072e5;
  }
  
  .signInForm {
    position: absolute;
    top: 56.5%;
    right: 10%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    padding: 20px;
    width: 350px;
    height: fit-content;
    z-index: 2000;
  }
  
  .hide {
    display: none !important;
  }
  
  #sign_in > label {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: 500;
  }
  #sign_in > label + a {
    position: absolute;
    right: 20px;
    font-size: 12px;
  }
  #sign_in > input {
    width: 100%;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin: 4px 0px 20px 0px;
  }
  #sign_in > div {
    padding: 10px 0px;
    color: red;
  }
  
  #sign_in > input[type="password"] {
    font-size: 20px;
  }
  
  #sign_in > p {
    font-size: 12px;
    margin-top: 4px;
    font-weight: 500;
  }
  
  #sign_in > input[type="submit"] {
    background-color: #000;
    color: #fff;
    margin: 6px 0 4px 0;
  }
  
  #sign_in > input[type="button"]:hover {
    background-color: #333;
  }
  
  /* search bar area styling  */
  .search_bar_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    z-index: 998;
    overflow: auto;
  }
  
  .search_bar_area > .search_container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .search_bar_area > .search_container > input {
    outline: none;
    border: none;
    border-bottom: 2px solid #888;
    font-size: 20px;
    font-family: "Bodoni Moda", serif;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .search_bar_area > .search_container > input + span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .search_bar_area > .search_container > p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .search_bar_area > .search_container > .search_results {
    margin-top: 30px;
    display: none;
    justify-content: space-between;
  }
  
  .search_bar_area > .search_container > .search_results > p {
    font-size: 14px;
  }
  
  .search_bar_area > .search_container > .search_results > a {
    text-decoration: underline;
    color: #000;
  }
  
  .search_bar_area > .search_container > .serach_result_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    text-align: center;
    padding: 20px;
  }
  
  .search_bar_area > .search_container > .serach_result_container > div > img {
    width: 100%;
    height: 300px;
  }
  
  .search_bar_area > .search_container > .serach_result_container > div > p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .search_bar_area > .search_container > .search_links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .search_bar_area > .search_container > .search_links > div > h4 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
  }
  
  .search_bar_area > .search_container > .search_links > div > ul > li {
    padding-top: 6px;
  }
  
  .search_bar_area > .search_container > .search_links > div > ul > li > a {
    color: #414141;
    font-size: 14px;
  }
  
  .search_bar_area > .search_container > .search_links > div > div {
    display: flex;
  }
  
  .search_bar_area > .search_container > .search_links > div > div > .right > p {
    font-size: 14px;
    color: #222;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding-left: 20px;
    max-width: 180px;
  }
  .search_bar_area > .search_container > .search_links > div > div > .right > a {
    color: #111;
    text-decoration: underline;
    padding-top: 6px;
    padding-left: 20px;
    font-weight: 500;
  }
  .search_bar_area > .search_container > .search_links > div > div > img {
    max-width: 180px;
    max-height: 140px;
  }
  
  /* cart area styling  */
  /* .cart_area {
    position: absolute;
    top:1000px;
    right: -150%;
    height: 100vh;
    width: 390px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    transition: 0.5s ease;
    z-index: 997;
    overflow: auto; */
  
  
  /* .cart_active {
    right: 0;
  } */
  
  /* .cart_area > .cart_box {
    height: 100%;
    position: relative;
  } */
  
  .cart_area > .cart_box > .cart_nav {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
  }
  .cart_area > .cart_box > .cart_nav > p {
    font-size: 24px;
    cursor: pointer;
  }
  
  .cart_area > .cart_box > .cart_mid {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cart_area > .cart_box > .cart_mid > h3 {
    padding-bottom: 10px;
    font-family: "Bodoni Moda", serif;
    font-size: 28px;
    font-weight: 600;
  }
  .cart_area > .cart_box > .cart_mid > p {
    padding-bottom: 10px;
  }
  
  .cart_area > .cart_box > .cart_items {
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
  }
  
  .cart_area > .cart_box > .cart_items > div {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #bbb;
  }
  
  .cart_area > .cart_box > .cart_items > div > img {
    width: 35%;
  }
  
  .cart_area > .cart_box > .cart_items > div > .desc {
    font-size: 16px;
    color: #222;
    width: 60%;
  }
  .cart_area > .cart_box > .cart_items > div > .desc > h4 {
    font-weight: 500;
  }
  .cart_area > .cart_box > .cart_items > div > .desc > .price {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
  
  .cart_area > .cart_box > .cart_items > div > .desc > .price > h4:nth-child(1) {
    color: #888;
    font-weight: 500;
  }
  
  .cart_area > .cart_box > .cart_footer {
    position: relative;
    bottom: 20px;
    right: 0;
    width: 100%;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  
  .cart_area > .cart_box > .cart_footer > p {
    background-color: rgb(223, 223, 223);
    padding: 2px 15px;
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .cart_area > .cart_box > .cart_footer > div {
    display: flex;
    width: 100%;
    padding: 4px 20px;
    justify-content: space-between;
  }
  
  .cart_area > .cart_box > .cart_footer > div > h3 {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .cart_btn {
    background-color: #000;
    color: #fff;
    padding: 10px 65px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cart_btn:hover {
    background-color: #333;
  }
  /* secondary nav styling  */
  
  .secondary_nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 4px 0 rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, 0.95);
    /* margin-left: 2rem; */
 
   
  }
  
  .secondary_nav > div {
    padding: 5px 13px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    margin: 18px;
  

    

  }
  .secondary_nav .dropDown div {
    padding: 18px 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    margin-top: -60px;
    margin-left: 4rem;
    /* margin: 1.2rem; */

    

  }

 
  .secondary_nav .dropDown div .Picon{
    /* margin: 15px; */
    margin-right: auto;
    font-size: 13px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
.secondary_nav > div > .dropDown > div > ul >li{
  width:200px;
  height: 60px;
  padding: 0.7rem auto;
  /* display: flex;
  justify-content: space-between; */
  /* margin: auto; */
  /* text-align: center; */
}
.secondary_nav > div > .dropDown > div > ul >li:hover{
  background-color: rgba(242, 234, 234, 0.986);
}
  .secondary_nav > div > .dropDown > div > ul >li:hover .Picon{
    margin: 16px;
    
  }
  
  .secondary_nav > div ul ul {
    top: 5vh;
    height: 230px;
    padding: 22px 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    position: absolute;
    margin-top: -60px;
    flex-wrap: wrap;
    
  }
 

  .secondary_nav > div > .dropDown {
    scroll-behavior: smooth;
    display: flex;
    position: absolute;
     
    top: 85%;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    padding: 40px;
    /*height: 100%;
    */justify-content: flex-start;
    /*padding: 2rem;
    */width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-40px);
    /*transition: all 0.3s ease;
    *//*flex-wrap: wrap;
    *//*flex-direction: column;
    overflow: hidden;
    *//*margin-top: -12px;
    */-webkit-transform: translateY(-50px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
}
  
  .secondary_nav > .drop:hover .dropDown {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  /* .secondary_nav > div > .dropDown > div > h4 {
     border: 1px solid black; 
    position: relative;

 
    
    margin-bottom:0px;
    margin-left: 9rem;
  } */
  /* .secondary_nav > div > .dropDown + div > h4 ul{
    
  } */
  
  .secondary_nav > div > .dropDown > div > ul > li {
    /* border: 1px solid black; */
    padding-top: 10px;
    margin-bottom:0px;
    margin-left: 2rem;
    margin: 13px;
    margin-top: 0px;
   
    /* flex-wrap: wrap; */
    /* margin-top: -30px; */
  }
  .secondary_nav > div > .dropDown > div > ul ul > li {
    /*border: 1px solid black;
    *//*margin-top: -20px;
    */padding: 10px 19px;
    /*margin-bottom:0px;
    */margin-left: -1rem;
    flex-wrap: wrap;
    padding-top: 10px;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
}
  .secondary_nav > div > .dropDown > div > ul ul{
  
   opacity: 0;
   visibility: hidden;
   transition: 0.7s ease-in;
   -webkit-transition: 0.7s ease-in;
   -moz-transition: 0.7s ease-in;
   -ms-transition: 0.7s ease-in;
   -o-transition: 0.7s ease-in;
}
  .secondary_nav > div > .dropDown > div > ul >li:hover >ul  {
   opacity: 1;
   visibility: visible;
   transition: 0.7s ease-in;
   -webkit-transition: 0.7s ease-in;
   -moz-transition: 0.7s ease-in;
   -ms-transition: 0.7s ease-in;
   -o-transition: 0.7s ease-in;
}
  .secondary_nav > div > a,
  .secondary_nav > div > .dropDown > div > ul > li > a {
    color: #414141;
    position: relative;
  }
  .secondary_nav > div > .dropDown > div > ul ul > li > a {
    color: #414141;
    position: relative;
  
    
  }
  
  .secondary_nav > div > .dropDown > div > ul > li > a::after {
    content: "";
    position: absolute;
    width: 4px;

    height: 0px;
    background-color: rgb(11, 180, 223);
    bottom: 100%;
    right: 0;
    top: 0;
    left: -10px;
    transition: width 0.2s linear;
    /* margin-top: -12px; */
  }
  .secondary_nav > div > .dropDown > div > ul ul > li > a::after {
    content: "";
    position: absolute;
    width: 4px;

    height: 0%;
    background-color: rgb(11, 180, 223);
    bottom: 0%;
    right: 0;
    top: 0;
    left: -10px;
    transition: width 0.2s linear;
  
  }
  
  .secondary_nav > div > a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: rgb(11, 180, 223);
    bottom: -70%;
    left: 0;
    transition: width 0.2s linear;
  }
  
  
  
  .secondary_nav > div > .dropDown > div > ul > li:hover a::after {
    
   height: 200%;
   
  }
  /* .secondary_nav > div > .dropDown > div > ul ul > li:hover a::after{
    padding: 10px;
    margin-top: 9px;
  } */
  .secondary_nav > div:hover a::after{
    width: 100%;
   
  }
  
  /* footer styling  */
  /* footer .primary {
    margin: 40px 0px;
    padding: 10px;
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
  }
  
  footer .primary > div {
    padding: 20px;
    transition: all 0.5s ease;
  }
  
  footer .primary > div:nth-child(2) {
    margin-left: 60px;
  }
  footer .primary > div:nth-child(3) {
    margin-left: 200px;
  }
  
  footer .primary > div > h5 {
    margin-bottom: 20px;
  }
  
  footer .primary > div > ul > li {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
  }
  footer .primary > div > ul ul > li {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
  }
  
  footer .primary > div > ul > li > a {
    color: #000;
  }
  footer .primary > div > ul ul > li > a {
    color: #000;
  }
  
  footer .primary > div > h3 {
    font-family: "Bodoni Moda", serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  footer .primary > div > a > i {
    font-size: 26px;
    padding: 0 30px;
    color: #000;
  }
  
  footer .secondary {
    display: flex;
    padding: 0 20px 20px 20px;
  }
  
  footer .secondary > div {
    padding: 0 4px;
    font-size: 13px;
  } */
  
  /* media queries  */
  @media all and (min-width: 50px) and (max-width: 764px) {

    .Pimage{
      /* margin-bottom: 0; */
     /* position: relative; */
     margin-left: -10px;
     margin-bottom: -1rem;
     /* margin-top: 3rem; */
      width: 300px;
      height: 30px;
      margin-right: 8rem;
    }
    .links {
      display: flex;
      font-size: 12px;
      font-weight: 500;
      /* align-items: center; */
      justify-content: flex-start;
      /* margin-left: auto; */
      width: 50%;
     
    }
    .search input{
 
      position:absolute;
      outline: none;
      width: 90%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
      /* border-right: none; */
    
      
    
    }
    .search span{
      position:fixed;
      margin-left: 16rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }








    nav .navbar {
      display: none;
    }
    nav > .secondary_nav {
      display: none;
    }
  
    nav > .mobile_navbar {
      display: block;
      width: auto;
    }
  
    nav > .mobile_navbar > .nav_container > .ham_menu + a {
      display: grid;
      place-items: center;
    }
  
    nav > .mobile_navbar > .nav_container > .ham_menu + a > img {
      width: 70%;
    }
  
    .search_bar_area {
      height: 100vh;
    }
  
    .search_bar_area > .search_container > .search_links {
      flex-direction: column;
    }
  
    .search_bar_area > .search_container > .search_links > div:nth-child(1) {
      max-height: 20px;
      overflow: hidden;
      padding: 30px 10px;
      transition: all 0.5s ease;
    }
  
    .search_bar_area > .search_container > .search_links > div:nth-child(1):hover,
    .search_bar_area
      > .search_container
      > .search_links
      > div:nth-child(1):focus {
      max-height: 400px;
      transition: all 0.5s ease;
    }
  
    .search_bar_area > .search_container > .search_links > div:nth-child(2) {
      max-height: 20px;
      overflow: hidden;
      padding: 30px 10px;
      transition: all 0.5s ease;
    }
  
    .search_bar_area > .search_container > .search_links > div:nth-child(2):hover,
    .search_bar_area
      > .search_container
      > .search_links
      > div:nth-child(1):focus {
      max-height: 400px;
      transition: all 0.5s ease;
    }
  
    .search_bar_area > .search_container > .search_links > div > div {
      flex-direction: column;
      align-items: center;
    }
  
    .search_bar_area > .search_container > .serach_result_container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* footer  */
    footer .primary {
      flex-direction: column;
      transition: all 0.5s ease;
      border-bottom: none;
    }
  
    footer .primary > div:nth-child(1) {
      order: 2;
      margin: 0;
      max-height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #aaa;
      padding: 30px 10px;
      transition: all 0.5s ease;
    }
    footer .primary > div:nth-child(1):hover,
    footer .primary > div:nth-child(1):focus {
      max-height: 400px;
      transition: all 0.5s ease;
    }
  
    footer .primary > div:nth-child(2) {
      order: 3;
      margin: 0;
      max-height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #aaa;
      padding: 30px 10px;
      transition: all 0.5s ease;
    }
  
    footer .primary > div:nth-child(2):hover,
    footer .primary > div:nth-child(2):focus {
      max-height: 400px;
      transition: all 0.5s ease;
    }
    footer .primary > div:nth-child(3) {
      text-align: center;
      order: 1;
      margin: 0;
    }
  
    footer .primary > div > a > i {
      padding: 0 10px;
    }
    footer .secondary {
      display: block;
      text-align: center;
    }
    footer .secondary > div {
      display: none;
    }
  
    footer .secondary > div:nth-child(1) {
      display: block;
    }





    .Pimage{
      /* margin-bottom: 0; */
     /* position: relative; */
     margin-left: -10px;
     margin-bottom: -1rem;
     /* margin-top: 3rem; */
      width: 300px;
      height: 30px;
      margin-right: 8rem;
    }
    .links {
      display: flex;
      font-size: 12px;
      font-weight: 500;
      /* align-items: center; */
      justify-content: flex-start;
      /* margin-left: auto; */
      width: 50%;
     
    }
    .search input{
 
      position:absolute;
      outline: none;
      width: 90%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
      /* border-right: none; */
    
      
    
    }
    .search span{
      position:fixed;
      margin-left: 16rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }
  }
  /* ul ul{
    
  }
   */
  @media all and (min-width: 764px) and (max-width: 1284px) {
    footer .primary > div:nth-child(3) {
      margin: 0;
    }
  }
  @media all and (min-width:443px) and (max-width:1294px){

    .secondary_nav>div{
      padding: 0;
    }
    .Pimage{
      /* margin-bottom: 0; */
     /* position: relative; */
     margin-left: 0px;
     margin-bottom: -1rem;
     /* margin-top: 3rem; */
      width: 300px;
      height: 30px;
      margin-right: 8rem;
     
    }
    .links {
      display: flex;
      font-size: 12px;
      font-weight: 500;
      /* align-items: center; */
      justify-content: flex-start;
      /* margin-left: auto; */
      width: 50%;
     
    }
    .search input{
 
      position:absolute;
      outline: none;
      width: 90%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
      /* border-right: none; */
    
      
    
    }
    .search span{
     
      position:fixed;
      margin-left: 16rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }
    .secondary_nav .drop a{
      font-size: 11px;
    }
    
  }
  @media all and (min-width:770px) and (max-width:984px) {

    .search input{
 
      position:absolute;
      outline: none;
      width: 100%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
       margin-left: -13px;
      /* border-right: none; */
    
      
    
    }
    .search span{
      /* position:f; */
      margin-left: 13rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }
    
  }
  @media all and (min-width:770px) and (max-width:864px) {

    .search input{
 
      position:absolute;
      outline: none;
      width: 100%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
       margin-left: 0;
      /* border-right: none; */
    
      
    
    }
    .search span{
      /* position:f; */
      display: none;
      margin-left: 13rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }
    .links{
      margin-left: -3rem;
      justify-content: flex-start;
    }
    
  }

  @media all and (min-width:1118px) and (max-width:1496px) {
    .search input{
 
      position:absolute;
      outline: none;
      width: 80%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
       margin-left: 0;
      /* border-right: none; */
    
      
    
    }
    
  }

  @media all and (min-width:1298px) and (max-width:1496px){
    .search input{
 
      position:absolute;
      outline: none;
      width: 53%;
      height: 40px;
      padding: 0.8rem 0.5rem;
      border: none;
      border: 1px solid black;
       margin-left:0;
      /* border-right: none; */
    
      
    
    }
     .search span{
      /* position:f; */
      /* display: none; */
      margin-left: 13rem;
      font-size: 18px;
      color: rgb(12, 136, 238);
   
    }
    .links{
      margin-left: -1rem;
      justify-content: flex-start;
      
    }
    
    

  }