*{
    font-family:  "Trade Gothic W01 Regular", "Trade Gothic W01 Light", Arial, sans-serif;;
}

      html,
      body {
        position: relative;
        height: 65%;
      }

     

      .swiper {
          /* border: 1px solid cornflowerblue; */
          margin-top: 50px;
        width: 80%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide>img {
        /* display: block; */
        width: 50%;
        height: 100%;
        /* object-fit: cover; */
      }


#mainshr{
    margin-top: 550px;
    display: grid;
    /* border: 1px solid black; */
    width: 60%;
    height: 600px;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* margin-top: 200px; */
}
/* #mainshr>DIV{
    /* border: 3px solid hotpink; */
/* } */


#shra{
    /* border: 1px solid forestgreen; */
    width: auto;
    height: 30px;
    margin-top: 230px;
    margin-left: 10px;
}
#shra>a{
    color: black;
    text-decoration: underline;
    /* font-weight: bold; */
    font-size: 13px;
}
#imageshr{
    width: 100%;
    height: 500px;
    /* border: 1px solid teal; */
}
#imagea{
    
   margin-left: 80px;
   margin-top: 80px;
    width: 60%;
    height: 80%;
    /* padding-left: 10px; */
    /* border: 2px solid red; */
   
    

}
#detailshra{
    /* border: 2px solid red; */
    margin-top: 50px;
}
#image2{
    width: 20%;
    height: 20%;
    margin-left: 30px;
}
#namesh{
    margin-top: 20px;
    font-size: 22px;
    color: #333333;
    font-weight: 400;
    margin-left: 20px;
    line-height: 26px;
}
#li{
    /* width: 30%; */
    height: 40px;
    margin-left: 20px;
}
#starsh{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
#aboshr{
    margin-left: 20px;
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
#pricesh{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;

}
#delev{
    /* border: 1px solid rebeccapurple; */
    width: 100%;
    /* height: 200px; */
}
h6{
    line-height: 21px;
}

span {cursor:pointer; }
.number{
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid green; */
    width: 100%;
    height: 35px;
    display: flex;
    /* margin:100px; */
    
}
.minus {
    width:35px;
    height:35px;
    background:#f2f2f2;
    border-radius:4px;
    padding:4px 0px 7px ;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 2px;
}
.plus{
    width:35px;
    height:35px;
    background:#f2f2f2;
    border-radius:4px;
    padding:4px 0px 7px ;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 2px;
}
input{
    height:35px;
    width: 35px;
    text-align: center;
    background:#f2f2f2;
    font-size: 16px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 
#btnshr{
    margin-left: 3px;
    background-color: #333333;
    color: white;
    width: 130px;
    height: 35px;
    border: #333333;
    font-size: 11px;
}
#btnshr:hover{
    background: rgb(211, 208, 208);
    color: black;
}
#desh{
    display: flex;
    /* border: 2px solid royalblue; */
    /* justify-content: center; */
}
#slishr{
    height: 300px;
    width: 100%;
    margin: auto;
    border: 1px solid seagreen;
}
#hrsh{
    width: 80%;
    margin: auto;
}