*{
    font-family:  "Trade Gothic W01 Regular", "Trade Gothic W01 Light", Arial, sans-serif;;
}


#contashra{
    /* border: 1px solid green; */
    /* margin-top: 10px; */
    width: 100%;
    /* height: 1000px; */
    display: flex;
    gap: 30px;

}
#filtershra{
    width: 15% ;
    height: 500px;
    /* border: 1px solid brown; */
}
#productdiv{
    width: 80%;

    /* height: 1000px; */
    /* border: 1px solid sienna; */
}
#productdiv>div{
    margin-bottom: 20px;
}
#upperimgsh{
    width: 100%;
    height: 320px;
    /* border: 1px solid saddlebrown; */
}
#upperimgsh>img{
    width: 100%;
}
#upperimgsh>h2{
    font-weight: 500;
}
#sortshra{
    width: 100%;
    height: 50px;
    /* border: 1px solid green; */
    display: flex;
}

#productshra{
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* border: 1px solid green; */

}

#sortshra>div{
    /* border: 1px solid blue; */
    width: 25%;
    
}
#sort_by{
    background-color: white;
}
#ass1{
    background-color: #dcdbdb;
}
#ass2{
    background-color: #dcdbdb;
}
#ass3{
    background-color: #dcdbdb;
}
#sortshra>div>select{
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    border: 1px solid  #dcdbdb;
    /* outline: none; */
    /* line-height: 12px; */
    padding-left: 20px;
    /* background-color: #dcdbdb; */
  
    /* ; */
    /* margin-left: 20px; */

}
#sortshra>div>select>option{
    font-weight: bold;
    background-color: white;
}

#divshr{
    /* border: 1px solid goldenrod; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    height: 460px;
    line-height: 12px;
   
}
#divshr>img{
   height: 60%;
   width: 50%;
   margin-top: 20px;
   margin-left: 80px;
}

#anna{
    height: 25%;
   
    /* color: greenyellow; */
    text-align: center;
}

#btnshr{
    margin-left: 30px;
    background-color: #333333;
    color: white;
    width: 80%;
    height: 40px;
    border: #333333;
    font-size: 11px;
}
#btnshr:hover{
    background: rgb(211, 208, 208);
    color: black;
}
#lowshr{
    width: 74%;
    margin-left: 320px;
    line-height: 3px;
}
#lowshr>h2{
    text-align:right;
    margin-right: 30px;
}
#shra{
    /* border: 1px solid forestgreen; */
    width: 22%;
    height: 30px;
    margin-top: 230px;
    margin-left: 10px;
}
#shra>a{
    color: black;
    text-decoration: underline;
    /* font-weight: bold; */
    font-size: 13px;
}
