*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #navhomepage
{
   
    
} */
#navi{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.c{
    top: 0;

position: fixed;
z-index: 1500;
}
#homepageimg
{
   margin-top: 11rem;
    
}
#homepageimg img
{
    display: block;
    margin: auto;
    z-index: -1;
    width: 75%;
    height: 657px;
}
/* ---------------------------slider--------------- */
#navhomepage{
    z-index: 100000;
}
.slider{
    z-index: 1;
}
#homepageslidermain
{
    /* border: 2px solid red; */
    width: 77%;
    height: 430px;
    margin: auto;
    margin-top: 60px;
    background-color: #f2f2f2;
   
}
/* .slider .slick-prev{
    color: #000000;
    background-color:black;
    border-radius: 50%;
    font-size: 60px;
    width: 40px;
    height: 40px;
    opacity: 1;

} */
/* .slider .slick-prev:hover{
opacity: 1;

display: block;
position: fixed;
} */
/* .slider .slick-next{
    color: #000000;
    background-color:rgb(4, 4, 4);
    border-radius: 50%;
    font-size: 30px;
    opacity: 1;

} */
/* .slider .slick-prev:hover{
background-color:rgb(216, 212, 212);
}
.slider .slick-next:hover{
    background-color:rgb(216, 212, 212);
    } */
    /* ----------------------pre and next arrow------------- */
.left_arrow{
    position: absolute;
    top: 50%;
    left: -70px;
    font-size: 28px;
    /* margin-right: 20px; */
    color: #333333;
    cursor: pointer;
    border-radius: 50%;
} 
.left_arrow:hover{
    background-color: black;
    color: whitesmoke;
}
.right_arrow{
    position: absolute;
    top: 50%;
    right: -70px;
    font-size: 28px;
    /* margin-right: 20px; */
    color: #333333;
    cursor: pointer;
    border-radius: 50%;
} 
.right_arrow:hover{
    background-color: black;
    color: whitesmoke;
}



#homepageslidermain{
    padding-top: 30px;
}
#homepageslidermain h1{
    text-align: center;
    color: #33333e;
    font-family:"TradeGothicLTW01b-bolder", "Arial", "sans-serif";
    margin-bottom: 20px;
    font-size: 26px;
    margin-top: 20px;
}
.flexhomepageslidermain{
    width: 80%;
     height: 290px;
    margin: auto;
    display: flex;
    /* border: 2px solid lime; */
   
    
   
}
.flexhomepageslidermain div{
     height: 100%;
 
}

   



.flexhomepageslidermaindivcommon{
/* border: 2px solid red; */
margin-left: 15px;

background-color: white;

}

.flexhomepageslidermaindiv1 h3:first-child{
    color: #205799;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";
     font-size: 20px;
     text-align: center;
     margin-top: 35px;
}
#flexhomepageslidermaindiv1p1{
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
}
#flexhomepageslidermaindiv1h3{
    text-align: center;margin-top: 12px;font-size: 20px;
    color: #333333;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";

}
#flexhomepageslidermaindiv1p2
{
    text-align: center;margin-top: 8px;
}
.flexhomepageslidermaindiv1 button{
    display: block;margin: auto;margin-top:18px ;width:76%;height: 50px;font-size: 17px;cursor: pointer;margin-bottom: 22px;
    background-color: #333333;
    border: none;
    color: whitesmoke;
}
.flexhomepageslidermaindivcommon a{
    text-decoration: none;
  
    font-weight:700;
    
}
.flexhomepageslidermaindiv2 h3:first-child{
    color: #205799;text-align: center;margin-top: 40px;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";
    font-size: 20px;
}
#flexhomepageslidermaindiv2p1{
    text-align: center;margin-top: 10px;font-size: 18px;
}
#flexhomepageslidermaindiv2h3
{
    text-align: center;margin-top: 10px;

    font-size: 20px;
    color: #333333;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";

}
#flexhomepageslidermaindiv2p2
{
    text-align: center;margin-top: 13px;
}
.flexhomepageslidermaindiv2 button
{
    display: block;margin: auto;
    margin-top:10px ;
    margin-bottom: 5px;
    width:76%;height: 50px;
    font-size: 17px;
    cursor: pointer;margin-bottom: 22px;
    background-color: #333333;
    border: none;
    color: whitesmoke;

}
.flexhomepageslidermaindiv3 p{
    text-align: center;margin-top: 100px;font-size: 18px
}
.flexhomepageslidermaindiv3 h3{
    text-align: center;margin-top: 8px;
    margin-bottom: 72px;

    font-size: 20px;
    color: #333333;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";

}
.flexhomepageslidermaindiv3 button
{
    display: block;
    margin: auto;
    
    width:76%;
    height: 50px;
    font-size: 17px;
    cursor: pointer;margin-bottom: 22px;
    background-color: #333333;
    border: none;
    color: whitesmoke;

}
.flexhomepageslidermaindiv4 p
{
    text-align: center;margin-top: 100px;font-size: 18px
}
.flexhomepageslidermaindiv4 h3{
    text-align: center;margin-top: 8px;
    margin-bottom: 72px;

    font-size: 20px;
    color: #333333;
    font-family: "TradeGothicLTW05-BoldNo", "Arial", "sans-serif";
}

.flexhomepageslidermaindiv4 button
{
    display: block;
    margin: auto;
    
    width:76%;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    /* margin-bottom: px; */
    background-color: #333333;
    border: none;
    color: whitesmoke;

}

.flexhomepageslidermaindivcommon button:hover{
   
    background-color: white;
  color: black;
    
}


/* limitedtime-only------------------------------------------- */

#limitedtimehomepage{
    width: 100%;
    height: 200px;
    /* border: 2px solid red; */
}
#limitedtimehomepage>div{
    /* border: 2px solid gray; */
    width: 23%;
    margin: auto;
    margin-top: 70px;

}
#limitedtimehomepage h3{
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    color: #33333e;
    font-family:"TradeGothicLTW01b-bolder", "Arial", "sans-serif";
}
#limitedtimehomepage h1{
    font-size: 26px;
    text-align: center;
    color: #33333e;
    font-family:"TradeGothicLTW01b-bolder", "Arial", "sans-serif";
}
#limitedtimehomepage p{
    text-align: center;
    margin-top: 10px;
    font-family: "TradeGothicLTW05-Light","Arial", "sans-serif";
    color: #7e716b;
    font-size: 18px;
    /* margin-bottom: px; */
}
#limitedtimehomepage button{
    display: block;
    width: 28%;
    margin: auto;
    height: 50px;
    border: none;
    font-size: 18px;
 cursor: pointer;
}
#limitedtimehomepage a{
    text-decoration: none;
   
    color: black;
}
#limitedtimehomepage button:hover{
   background-color: #333333;
   color: white;

}
/* limitedediton================================ */

#limitededitonhomepage>div{
display: flex;
width: 75%;
margin: auto;

}
#limitededitonhomepageimg1
{
    /* border: 2px solid greenyellow; */
    width: 77%;
}
#limitededitonhomepageimg1 img
{
    width: 100%;

}
#limitededitonhomepageimg2>div
{
    /* border: 2px solid red; */
    padding-left: 50px;
    padding-top: 10px;

}
#limitededitonhomepageimg2 img{
    width: 60%;
    /* border: 2px solid red; */
    
}
#limitededitonhomepageimg2{
    text-align: center;
}
#limitededitonhomepagepp1
{

color: darkblue;
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;

}
#limitededitonhomepagepp2
{
    
    color: gray;
}
#limitededitonhomepagepp3
{
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
#limitededitonhomepagepp4 {
    color: #d03120;
    margin-top: 5px;
    margin-bottom: 10px;
}
#limitededitonhomepageimg2 button{
    width: 95%;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    border: none;
    background-color: #333333;
    color: white;
}  
#limitededitonhomepageimg2 button:hover{
    background-color: white;
    color: black;
}
/* -----------------img2-------------------- */
#homepageimg2
{
    /* border: 2px solid green; */
    padding-top:40px ;
}
#homepageimg2>div{
    width: 75%;
    margin: auto;
}
#homepageimg2 img{
    width: 100%;
}
/* productsflexbox----------------------- */
#homepageproductsflexbox
{
    padding-top: 50px;
    /* border: 2px solid red; */
    padding-bottom: 60px;

}
#homepageproductsflexbox h1{
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
    color: #33333e;
    font-family:"TradeGothicLTW01b-bolder", "Arial", "sans-serif";
}
#homepageproductsflexbox>div{
    display: flex;
    cursor: pointer;
    gap: 20px;
    width: 75%;
    margin: auto;
}

#homepageproductsflexbox img{
    width: 100%;
    height: 200px;
    background-color:#fafafa;
}
#homepageproductsflexbox h4{
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #33333e;
    font-family:"TradeGothicLTW05-BoldNo.2", "Arial", "sans-serif";
  
}
#homepageproductsflexbox h4:hover{
    text-decoration: none;
}

/* ----------------------productsgrid---------------- */
#homepageproductgrid
{
    /* border: 2px solid red; */
    padding-bottom: 10px;
   
}
#homepageproductgrid>div{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,40%);
      grid-row-gap: 120px;
      grid-column-gap:20px;
    
    

}
#homepageproductgrid p{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    color: grey;
}
#homepageproductgrid h4{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    color: #33333e;
    font-family:"TradeGothicLTW05-BoldNo.2", "Arial", "sans-serif";
}
#homepageproductgrid h4:hover{
    text-decoration: none;
}
/* #homepageproductgrid>div>div{
    margin-bottom: 40px;
} */
#homepageproductgrid img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* ----------------------homepageimg3---------------------------- */

#homepageimg3>div
{
    margin: auto;
 width: 75%;
}
#homepageimg3 img{
    width: 100%;
    height: 100%;
}
/* -----------------homepagebuttons----------------- */

#homepagebuttons
{
    /* border: 2px solid red; */
    padding-top: 30px;
}
#homepagebuttons>div{
    /* border: 2px solid green; */
    justify-content: space-between;
    width: 65%;
    display: flex;
    margin: auto;
}
#homepagebuttons1>div{
    width: 18%;
    /* border: 2px solid red; */
    
}
#homepagebuttons1 button{
    width: 100%;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
   
}
#homepagebuttons2{
    padding-top: 30px;
}
#homepagebuttons2 button
{
    display: block;
    margin: auto;
    width: 23%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;

}
#homepagebuttons button:hover{
    background-color: white;
    color: black;

}
/* ------------------slider2-------------------- */
#homepageslider2 h1
{
  
   margin: auto;
  /* border: 2px solid rgb(21, 0, 255); */
   text-align: center;
   font-size: 20px;
   letter-spacing: 5px;
   max-width: 1300px;
   position: relative;

}
#homepageslider2 h1::before{
    content: "";
    display: block;
    width: 440px;
    height: 0.5px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}
#homepageslider2 h1::after{
    content: "";
    display: block;
    width: 440px;
    height: 0.5px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

#homepageslider2 p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color:#4b4848;
    font-weight: 400;

    font-family:"TradeGothicLTW01-Light", "Arial", "sans-serif";
}
#homepageslider2BATHANDBODYWORKS{
    background-color: white;
}
#homepageslider2BATHANDBODYWORKSfont{
    font-size: 33px;
     /* border: 2px solid red; */
    padding-right: 5px; 
    
}
#homepageslider2BATHANDBODYWORKSspan1{
    /* margin-bottom: -50px; */
    vertical-align:5px;
    /* border: 2px solid red; */
    
 

}
.homepageslider2start{
    display: flex;
    /* gap: 55px; */
    /* gap: 40px; */
    /* margin-left: 20px; */
    /* border: 2px solid red; */
   
    width: 70%;
    margin: auto;
    margin-top: 40px;
    /* border: 2px solid greenyellow; */
}
.homepageslider2start>div{
    /* width: 22%; */
    margin-right: 10px;
    /* border: 2px solid red; */
}
.homepageslider2start>div img{
    width: 82%;
    margin-left: 30px;
}
/* --------------------------homepageslider2para---------------------- */
#homepageslider2para 
{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 200px;
}
#homepageslider2para h1{
    font-size: 33px;
    padding-bottom: 10px;
}
#homepageslider2para p
{
    font-size: 18px;
    line-height: 25px;
    color:#4b4848;
    
    font-weight: 400;

    font-family:"TradeGothicLTW01-Light", "Arial", "sans-serif";
}
#homepageslider2para span{
    text-decoration: underline;
    cursor: pointer;
}
#homepageslider2para span:hover{
    text-decoration: none;
}



/* footer=================================== */

#commonfooter{
    
    display: flex;
    align-items: center;
    margin-left:13%;
    /* border: 2px solid red; */
    /* padding-right: 100px; */
    /* border: 2px solid red; */
   


}
#footerfirst
{
    /* border: 2px solid gray; */
    height: 100%;
    width: 28%;
   
   
}
#footerfirst p{
    font-size: 18px;
    color:#4b4848;
    
    font-weight: 400;

    font-family:"TradeGothicLTW01-Light", "Arial", "sans-serif";
}
#footerfirst p:first-child{
    
    padding-bottom: 15px;
}
#footerfirst p:nth-child(2){
    margin-bottom: 5px;
    
    
}

#footerfirst p:last-child{
    margin-bottom: 5px;
    
}
#footerfirst input{
    height:35px ;
    
}
#footerfirst button{
  width:20% ;
  height:35px ;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
    
}
#footerfirst button:hover{
    background-color: white;
    color: black;
}



 #commonfooterlists{
   /* border: 2px solid green; */
   width: 60%;
  
} 
#commonfooterlists th{
    text-align:left;
    font-size:15px;
    color:#000000;
    font-weight:bold;
    line-height:15px;
   text-transform: uppercase;
   
    /* border: 2px solid red; */
    
   padding-bottom: 10px;
  
}


#commonfooterlists td{
    font-size:16px ;
    color:#4b4848;
    
    font-weight: 400;

    font-family:"TradeGothicLTW01-Light", "Arial", "sans-serif";
   
 /* border: 2px solid red; */
}


#table{
    border-spacing: 12px;
    /* border: 2px solid red; */
  
    /* height: 500px; */
    width:100% ;
}
#getconnectedhomepage
{
    /* border: 2px solid green; */
    padding-top: 20px;
    width: 100%;

    height: 180px
}



#getconnectedhomepage>div{
    margin-left: 13%;
    /* border: 2px solid lime; */
    display: flex;
    justify-content: space-between;
    width: 78%;

}
#socialhomepagefooter h4{
 font-size: 15px;
 margin-bottom: 7px;
}

#socialhomepagefooter i{
    font-size: 28px;
    cursor: pointer;
}
#bluec{
    color: #3460a1;
}
#bluecc{
    color: #3460a1;
}
#lightbluec{
    color: #28aae1;
}
#blackc{
    color: black;
}
#redc{
    color: #ee3138;
}
#darkredc{
    color: #ce2129;
}


#socialhomepagefooter>div{

    display:flex ;
    justify-content: space-between;
    gap: 18px;
  /* border: 2px solid red; */


}
#socialhomepagefooter i{
    display: block;
}
#footerhomepageimg
{
    margin-top: 20px;
}
#footerhomepageimg img
{
    width: 95%;
    height: 90px;
}

#footer{
    width: 100%;
    height: 130px;
    /* border: 2px solid red; */
    padding-top: 35px;
    background-color: #f2f2f2;
}
#footer p:first-child{
    margin-bottom: 25px;
}
#footer p{
      text-align: center;
      font-size: 16px;
      color:#4b4848;
    
    font-weight: 400;

    font-family:"TradeGothicLTW01-Light", "Arial", "sans-serif";
}

#footermainpagewrapper
{
    border-top: 2px solid #f2f2f2;
    width: 100%;
    height:310px;
    padding-top: 55px;

}
.homepageslidermain{
    z-index: -1;
}
.homepageslidermain .flexhomepageslidermain .slider .flexhomepageslidermaindiv1 .flexhomepageslidermaindivcommon {
    z-index: -1;
    scroll-behavior: smooth;
}