/* body{
    margin: 5%;
    font-family: 'Gothic A1', sans-serif;
} */

.img{
    width: 100%;
    height: 100%;
}

.locationLogin{
    width: 15%;
    font-size: 13px;
    margin-left: 2%;
    margin-top: 6%;
    /* border: 1px solid; */
}

.locationLogin>a{
    color: black;
}

.inputContainer{
    width: 80%;
    height: 650px;
    margin: auto;
    margin-top: 2%;
    /* border: 1px solid; */
    margin-bottom: 5%;
}

.topPoster{
    width: 100%;
    height: 120px;
    /* border-bottom: 1px solid; */
}

.topHeading{
    width: 100%;
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 2px solid;
    /* margin-top: 1%; */
}

.topHeading>h2{
    /* border: 1px solid; */
    margin-top: 3%;
}

.loginSignBox{
    width: 100%;
    height: 420px;
    margin-top: 2%;
    display: flex;
    /* border: 1px solid yellow; */
}

.roundDiv{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    top: 5%;
    left: 95.27%;
    border-radius: 50%;
    background-color: white;
}

.roundDiv>h3{
    /* border: 1px solid; */
    text-align: center;
    margin-top: 25%;
}

.loginSignBox>div{
    width: 50%;
    height: 100%;
}

.loginSignBox>div:nth-child(1){
    border-right: 1px solid black;
    position: relative;
}

.loginSignBox_left{
    width: 90%;
    height: 90%;
    /* border: 1px solid; */
    margin:auto;
    margin-top: 5%;
}

.loginSignBox_left_title{
    width: 80%;
    height: 50px;
    /* border: 1px solid; */
    margin: auto;
    text-align: center;
    line-height: 5px;
    line-height: 15px;
}

.loginSignBox_left_title>p:nth-child(1){
    font-size: 18px;
}

.loginSignBox_left_input, .loginSignBox_left_input1{
    width: 80%;
    height: 280px;
    /* border: 1px solid; */
    margin-top: 5%;
    margin-left: 15%;
}

.loginSignBox_left_input1{
    width: 95%;
    margin: auto;
    margin-top: 5%;
}

.loginSignBox_left_input>input{
    width: 80%;
    height: 28px;
    margin-bottom: 8%;
}

.loginSignBox_left_input>a{
    color: black;
}

.loginSignBox_left_input>button, .loginSignBox_left_input1>button{
    padding: 10px;
    width: 45%;
    margin-left: 22%;
    margin-top: 5%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid;
}

.loginSignBox_left_input>button:hover, .loginSignBox_left_input1>button:hover{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    color: black;
}

.loginSignBox_left_input1_Img{
    width: 100%;
    height: 130px;
}

.loginSignBox_left_input1>button{
    margin-left: 25%;
    word-spacing: 2px;
}
#navbar
{
    margin-top:20%;
}
