*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}
.conta{
    top: 0;
    /* left: 0; */
    background-color: rgb(228, 217, 217);

}
.conta .date{
   
    padding: 1.2rem,auto;
    letter-spacing: 1.3px;
    width: 100%;
    height: 30px;
    margin-top: auto;
    padding-top: auto;
    font-size: 10px;
    /* margin: 0.8rem auto; */
}
.images{
    display: flex;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.images img{
    margin-left: 30rem;
   margin-bottom: -1rem;
   /* margin-top: 3rem; */
    width: 300px;
    height: 30px;
}
.images .bag img{
    height: 40px;
    width: 40px;
}
.images .bag span{
    position: absolute;
    text-align: center;
    font-size: 16px;
    margin-top: 1rem;
    margin-left: -24px;
    color: #005699;
  }


  .container{
      width: 60%;
      margin: auto;
  }


  .container .progress-bar{
    display: flex;
    margin: 40px 0;

}
.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
}
.progress-bar .step p{
    font-size: 14px;
    font-weight: 200;
    color: black;
    margin-bottom: 8px;
    text-align: center;

}

.progress-bar .step p.active{
    color: rgb(6, 6, 54);
}
.progress-bar .step .bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius:  50%;
    -webkit-border-radius:  50%;
    -moz-border-radius:  50%;
    -ms-border-radius:  50%;
    -o-border-radius:  50%;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.1s;
}

.progress-bar .step .bullet.active{
    border-color: brown;
    background-color: blue;
}

.progress-bar .step:last-child .bullet::before,.progress-bar .step:last-child .bullet::after{
    display: none;
}



.progress-bar .step .bullet::before,.progress-bar .step .bullet::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 250px;
    color: lightgray;
    background-color:lightgray;
   bottom: 10px;
   left:21px;

}

.progress-bar .step .bullet.active::after{
    background-color: brown;
    transform: scaleX(0);
    animation: animate 0.3s linear infinite;
    transform-origin: left;
    -webkit-animation: animate 0.3s linear forwards;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
@keyframes animate {
    100%{
          transform: scaleX(1);
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
}
    
}
.progress-bar .step .bullet span{
    font-size: 17px;
    line-height: 25px;
    text-align: center;
;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}
.progress-bar .step .bullet.active span{
    display: none;
}
.progress-bar .step .check{
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.progress-bar .step .check.active{
    display: block;
    color: white;
}
.progress-bar .step p{
    margin-left: 23px;
}

.progress-bar .step:nth-child(1) .bullet span{
    font-size: 18px;
    text-align: center;
    margin-top: 0px;

}



.progress-bar .step:nth-child(1) .bullet{
    position: absolute;
    text-align: center;

    width: 25px;
    height: 25px;
    border:2px solid rgb(19, 3, 77);
 
}
.progress-bar .step:nth-child(1) .bullet::before,.progress-bar .step:nth-child(1) .bullet::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 230px;
    color: lightgray;
    background-color:lightgray;
   bottom: 10px;
   left:25px;

}








.progress-bar .step:nth-child(2) .bullet{
    margin-top:0px;
}
.progress-bar .step:nth-child(3) .bullet{
    margin-top: 0px;
}


.progress-bar .step:nth-child(2){
    opacity: 0.2;
}
.progress-bar .step:nth-child(3){
    opacity: 0.2;
}
.progress-bar .step .bullet::before,.progress-bar .step .bullet::after{
    background-color: lightgray;
    opacity: 0.3;
}

.heart{
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: 20vh;
  background-color: white;
  overflow: hidden;
  color:rgb(214, 69, 151); ;
  /* position: absolute; */
   

}
.heart>div{
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-top-color: rgb(214, 69, 151);
    position:relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation:spin 1.5s linear infinite ;
    -webkit-animation:spin 0.3s linear infinite ;
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
    
}


/* .heart .fa-circle{
    position: relative;
    font-size: 80px;
    z-index: -1;
    animation: rotate 3s linear infinite;
    -webkit-animation: rotate 3s linear infinite;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}
@keyframes rotate {
    0%{
        color: blue;
        transform: translate(0deg);
        -webkit-transform: translate(0deg);
        -moz-transform: translate(0deg);
        -ms-transform: translate(0deg);
        -o-transform: translate(0deg);
      
}
100%{
    transform: translate(360deg);
    -webkit-transform: translate(360deg);
    -moz-transform: translate(360deg);
    -ms-transform: translate(360deg);
    -o-transform: translate(360deg);
}
    
} */
.heart .fa-heart{
    font-size: 20px;
    position: absolute;
    margin-right:0.2rem ;
} 

.ironman{
    width: 90%;
    display: flex;
    justify-content: space-around;

    background-color: white;
}
.dropdown{
    position: relative;
    margin-top: 20px;
    
    width: 500px;
    height: 50px;


}

.dropdown::before{
    
    content: "";
    position: absolute;
    width: 8px;
    top: 22px;
    height: 8px;
    right: 20px;
    width: 8px;
    height: 8px;
    z-index: 10000;
    border: 2px solid black;
    border-top: 2px solid rgb(249, 245, 245);
    border-right: 2px solid rgb(243, 240, 240);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
   

}

.dropdown.active::before{

    top: 22px;
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
}


.dropdown .textBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border: none;
    outline:none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    padding: 12px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}
.dropdown .textBox::placeholder{
    font-size: 22px;
    letter-spacing: 1.2;
}


.dropdown .option{
    position: relative;
    top: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    
}
/* .textBox.active .option{
  
    display: block;
    
} */
/* .dropdown.active .option{
    display:block;
} */

.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
    
}
.dropdown .option div:hover{
    background-color: rgb(235, 228, 228);
}
.dropdown .red{
    color: red;
    margin: 10px;
}
.dropdown .nabula{
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    padding: 1.2rem auto;
    margin-top: -10px;
    margin-left: 1rem;
    border: 1px solid;
    outline: none;
}
.dropdown .option input{
    padding: 1.2rem 0.5rem;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dropdown .option #bat{
    position: relative;
    display: block;
    margin-left: auto;
    /*text-align: center;
    */border: 1px solid rgb(222, 210, 210);
    margin-top: -49px;
    z-index: 1000;
    width: 100px;
    height: 38px;
    margin-right: 30px;
    cursor: pointer;
    outline: none;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.dropdown .option div:nth-child(5){
font-size: 13px;
padding-left: 15px;
margin-left: 15px;
}

.dropdown .option div:nth-child(6) button{
   background-color: black;
   color: white;
   border: none;
   outline: none;
   width: 150px;
   height: 35px;
   text-align: center;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
   margin-left: 15px;
   
}
.dropdown .option div:nth-child(6) span{
    margin-left: 15px;
    font-size: 13px;
}
.dropdown .option div:nth-child(7){
    margin-left: 15px;
    font-size: 15px;
} 
.dropdown .option div:nth-child(8){
    margin-left: 15px;
    font-size: 13px;
}

#conta{
    border: 1px solid black;
    width: 320px;
    height: fit-content;
}
#conta h2{
    text-align: center;
    padding: 0.7rem auto;
    font-weight: 200;
    font-size: 20px;

}
#container>div{
    
    width: 90%;
     margin-left: 10px;
    height: 150px;
    border: 2px solid rgb(194, 185, 185);
    
    display: flex;
    border-left: none;
    border-right: none;
}

#container .img_div{
    width: 20%;
    height: 60%;
    object-fit: contain;
}
#container>div>div{
    margin-top: 1rem;

}
#container .singh{
    margin-left: 2rem;
    font-weight:500;
    text-align: left;
    font-size: 14px;
    padding: 1.2rem auto;

}
#container .singh h3{
    font-weight: 500;
    font-size: 14px;

}
#container>div>div>p:last-child{
    color: red;
    font-size: 12px;
}
#container>div>div>p:nth-last-child(2){
    position: absolute;
    margin-top: 2rem;
    margin-left:10rem;
    font-size: 13px;
}
.sharki{
    width: 100%;
    font-size: 12px;
    margin-top: 0rem;
    padding: 1.2rem 0.2rem;
    line-height: 1.6;
    border: none;
    font-weight: 600;
    padding: 8px;

    
}
.sharki2{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 0.2rem;
    padding: 1.2rem 0.3rem;
    line-height: 1.6;
    width: 100%;
    border: none;
}
.sharki3{
  
    width: 90%;
    
}
.sharki2 h6{
    width: 80%;
    font-size: 14px;
}

.sharki2 p:nth-last-child(1){
    font-weight: 200;
    font-size: 12px;
    width: 90%;
}
.sharki4{
    margin-left: -20px;
}
.sharki4 p{
    font-weight: 400;
}
.sharki4 p:last-child{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 13px;
}
#estimate{
    margin-top: -1.3rem;
    /* margin-bottom: 10rem; */
    margin-left:16rem;
    font-weight: 400;
}

.ship{
   /*border: 2px solid black;
   */height: 1500px;
   padding: 1.2rem 0.9rem;
   margin-top: 20px;
   transition: 0.3s ease-in;
   -webkit-transition: 0.3s ease-in;
   -moz-transition: 0.3s ease-in;
   -ms-transition: 0.3s ease-in;
   -o-transition: 0.3s ease-in;
}
.ship .h2{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
   
}
.ship .first{
    margin-top: 10px;
}
.ship .first p{
    position:absolute;
    display: inline-block;
    margin-left: 300px;
    margin-top: -30px;
    font-size: 14px;
    z-index: 10;
}

.ship .input{
    
    margin-top: 10px;
}
.ship .first .input input{
    width: 70%;
    height: 30px;
    padding: 1.2rem 0.7rem;
}
.ship .first span{
    color:red
}
.ship .first .input select{
    width: 30%;
    height: 40px;
}

.ship .first .input .gal{
    width: 15px;
    height: 15px;
}
.ship .first .input .check{
    color: black;
    font-size: 12px;
}
.ship .first .input .radio{
    width: 15px;
    height: 15px;
    margin: 16px 0.8rem;
}
.ship .first .input .checki{
    font-size: 14px;
    color: black;
    
}



#method{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
  
 }
 #method >div{
     display: flex;
     justify-content: space-between;
     padding-left: 10px;
    padding-right: 10px;

 }
 #method >div>input{
     width: 15px;
     height: 15px;
     margin-top: 2px;
     display: flex;
     padding-left: 20px;
 }
 #method >div>p{
    margin-top: 7px;  
 }
.sab{
    font-weight: 600;
    font-size: 9px;
    color: blue;
    text-align: center;
    margin-top: 10px;
    opacity: 0;

}

 #ballo{
     background-color: black;
     color: white;
     font-size: 15px;
     border: none;
     outline: none;
     width: 150px;
     height: 40px;
     margin-top: 10px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     cursor: pointer;
     opacity: 0.2;
}
#ballo.active{
    opacity: 1;
    
}



.jao{
    font-size: 13px;
    margin-left: 30px;
}
.sab.active{
    opacity: 1;
   
    animation: animate 0.5s;
    -webkit-animation: animate 1s;

}
@keyframes animate {
    0%,50%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
}
100%{
    opacity: 0;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
}
}



